<h1>Hey, <%= current_user.email %>!</h1>
<h2>We hope you enjoy the <em><%= @toyuser.toy.name %></em></h2>
<br>
<h3>Please ensure the data on this form to correct to complete your checkout!</h3>

<%= render 'form', {toyuser: @toyuser}%>
