<h1>Hi <%= @user.email %>!</h1>
<h3>Which of your toys would you like to see?</h3>
<ul>
  <%# @user.toys.each do |toy| %>
      <li><%#= link_to toy.name, toy_path(toy) %><p>Created by: <%#= toymaker_link(toy)  %></p>
    <%# end %></li>
</ul>