<% if object.errors.any? %>
  <div class="jumbotron">
    <h2>
      <%= pluralize(object.errors.count, "error") %>
      prohibited this information from being saved:
    </h2>
 
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>